.vscode/configurationCache.log
.vscode/dryrun.log
.vscode/targets.log
.cache
build/cmake_install.cmake
build/CMakeCache.txt
build/compile_commands.json
build/CTestTestfile.cmake
build/DartConfiguration.tcl
build/Makefile
build/.cmake/api/v1/reply/cache-v2-b50cf84083f5e383eece.json
build/.cmake/api/v1/reply/cache-v2-b407e51de94ddded8489.json
build/.cmake/api/v1/reply/codemodel-v2-63c92135953603a49edc.json
build/.cmake/api/v1/reply/codemodel-v2-238d05b7feff02a7ec2e.json
build/.cmake/api/v1/reply/directory-_deps.catch-build-Debug-a81e3680de19ebe5aca0.json
build/.cmake/api/v1/reply/directory-tests-Debug-70e4927a02b591d5c1f8.json
build/.cmake/api/v1/reply/index-2022-05-10T00-16-33-0488.json
build/.cmake/api/v1/reply/index-2022-05-10T00-42-32-0378.json
build/.cmake/api/v1/reply/target-app-Debug-637b0903cc3d6144e2e0.json
build/.cmake/api/v1/reply/target-app-Debug-a37663645dc528ec0cc8.json
build/.cmake/api/v1/reply/target-test_electrode-Debug-5e3dbfc10670f27fb767.json
build/.cmake/api/v1/reply/target-test_grid-Debug-980396c84aada5db6feb.json
build/apps/app.exe
build/apps/CMakeFiles/app.dir/main.cpp.obj
build/apps/CMakeFiles/app.dir/main.cpp.obj.d
build/apps/CMakeFiles/app.dir/objects.a
build/CMakeFiles/Makefile.cmake
build/CMakeFiles/Makefile2
build/CMakeFiles/progress.marks
build/CMakeFiles/TargetDirectories.txt
build/src/libvovka_library.a
build/src/CMakeFiles/vovka_library.dir/app.cpp.obj
build/src/CMakeFiles/vovka_library.dir/progress.make
build/Testing/Temporary/LastTest.log
build/tests/test_electrode.exe
build/tests/CMakeFiles/test_electrode.dir/objects.a
.obj
build/.cmake
.vscode
.obj.d
.a
.make
.cmake
build/
buildlog.txt